html {
  font-family: 'Alegreya Sans SC';
}

body {
  margin: 0;
  padding: 0;
}

#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 350px;
}

.mapboxgl-marker:hover {
  cursor: pointer;
}

h2 {
  margin-top: 0;
  font-size: 28px;
  text-align: left;
}

h4 {
  text-align: center;
  font-family: Georgia;
  Color: #fff;
  font-family: 'Alegreya Sans SC'
}

h5 {
  font-family: 'Alegreya Sans SC';
  font-size: 18px
}

h6 {
  font-family: 'Alegreya Sans SC';
  font-size: 17px;
  text-align: justify;
}

h1 {
  font-family: 'Alegreya Sans SC';
  font-size: 13px;
  text-align: left;
}

.flyto-button {
  color: #fff !important;
  border: 4px solid #FFF text-transform: uppercase;
  text-decoration: none;
  background: #C9082A;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  Width: 100%;
  transition: all 0.4s ease 0s;
  font-family: 'Alegreya Sans SC'
}

.flyto-button:hover {
  background: #000000;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

#information {
  padding: 15px;
  min-height: 150px;
}
#westernCheckbox
{
    display: none;
}

.westernCheckbox
{
    position: absolute;
    top: 50px;
    right: 100px;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #f72414;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 7px 10px #ffbeb8;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

.westernCheckbox:before
{
    content: "";
    position: absolute;
		top: 26px;
    right: 0;
    left: 0;

    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 7px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

.westernCheckbox:hover:before
{
    width: 39px;
    height: 39px;
    box-shadow: inset 0 7px 10px #ff9d96;
}

.westernCheckbox:active
{
    transform: translateY(-50%) scale(0.9);
}

#tick_mark
{
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-left: 14px;
    transform: rotateZ(-40deg);
}

#tick_mark:before, #tick_mark:after
{
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_mark:before
{
    left: 0;
    bottom: 0;
    width: 10px;
    height: 30px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.23);
    transform: translateY(-68px)
}

#tick_mark:after
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.23);
    transform: translateX(78px)
}

#westernCheckbox:checked + .westernCheckbox
{
    background-image: url('http://oit2.sps.nyu.edu/~tj986/Markericon/Western%20Conference.gif');
		background-repeat: no-repeat;
	  background-position: left;
	  background-size: contain;
    box-shadow: 0 7px 10px #000;
}

#westernCheckbox:checked + .westernCheckbox:before
{
    width: 0;
    height: 0;
}

#westernCheckbox:checked + .westernCheckbox #tick_mark:before, #westernCheckbox:checked + .westernCheckbox #tick_mark:after
{
    transform: translate(0);
    opacity: 1;
}

#easternCheckbox
{
    display: none;
}

label
{
    position: absolute;
    top: 120px;
    right: 10px;
    left: 0;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    background-color: #17408B;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: 0 7px 10px #000;
    cursor: pointer;
    transition: 0.2s ease transform, 0.2s ease background-color, 0.2s ease box-shadow;
    overflow: hidden;
    z-index: 1;
}

label:before
{
    content: "";
    position: absolute;
    top: 26px;
    right: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background-color: #fff;
    transform: translateY(-50%);
    border-radius: 50%;
    box-shadow: inset 0 7px 10px #ffbeb8;
    transition: 0.2s ease width, 0.2s ease height;
}

label:hover:before
{
    width: 39px;
    height: 39px;
    box-shadow: inset 0 7px 10px #ff9d96;
}

label:active
{
    transform: translateY(-50%) scale(0.9);
}

#tick_marker
{
    position: absolute;
    top: -1px;
    right: 0;
    left: 0;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-left: 14px;
    transform: rotateZ(-40deg);
}

#tick_marker:before, #tick_marker:after
{
    content: "";
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    opacity: 0;
    transition: 0.2s ease transform, 0.2s ease opacity;
}

#tick_marker:before
{
    left: 0;
    bottom: 0;
    width: 10px;
    height: 30px;
    box-shadow: -2px 0 5px rgba(0,0,0,0.23);
    transform: translateY(-68px)
}

#tick_marker:after
{
    left: 0;
    bottom: 0;
    width: 100%;
    height: 10px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.23);
    transform: translateX(78px)
}

#easternCheckbox:checked + label
{
    background-image: url('http://oit2.sps.nyu.edu/~tj986/Markericon/Eastern%20Conference.gif');
		background-repeat: no-repeat;
	  background-position: left;
	  background-size: contain;
    box-shadow: 0 7px 10px #000;
}

#easternCheckbox:checked + label:before
{
    width: 0;
    height: 0;
}

#easternCheckbox:checked + label #tick_marker:before, #easternCheckbox:checked + label #tick_marker:after
{
    transform: translate(0);
    opacity: 1;
}



#filter{
	top:50px;
	position: absolute;
	right: 550px;
	background-color: #000;

}
#nbalogo {
  width: 100px
}

#logo {
  padding: 15px;
  min-height: 150px;
}

#image-zoom {
  padding: 15px;
  min-height: 150px;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background-color: #17408B;
  color: #FFF;
  padding: 25px;
  box-sizing: border-box;
  transition: top 0.3s;
  overflow-y: auto;
}

#sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}



.marker {
  background-image: url('icons8-marker-100.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#marker-1 {
  background-image: url('icons8-marker-100.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-right: 18px;
  margin-top: 10px;
	margin-bottom: 20px
}

#marker-2 {
  background-image: url('iconfinder_Social_Media_Socialmedia_network_share_socialnetwork_network-14_227040.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-right: 18px;
  margin-top: 10px;
	margin-bottom: 20px
}

#marker-3 {
  background-image: url('icons8-sport-arena-64.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-right: 18px;
  margin-top: 10px;
	margin-bottom: 20px
}

#marker-4 {
  background-image: url('icons8-place-marker-64.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-right: 18px;
  margin-top: 10px;
	margin-bottom: 20px
}
