html {
  font-family: 'Alegreya Sans SC';
}

body {
  margin: 0;
  padding: 0;
}

#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 350px;
}

.mapboxgl-marker:hover {
  cursor: pointer;
}

h2 {
  margin-top: 0;
  font-size: 28px;
  text-align: left;
}

h4 {
  text-align: center;
  font-family: Georgia;
  Color: #fff;
  font-family: 'Alegreya Sans SC'
}

h5 {
  font-family: 'Alegreya Sans SC';
  font-size: 18px
}

h6 {
  font-family: 'Alegreya Sans SC';
  font-size: 17px;
  text-align: justify;
}

h1 {
  font-family: 'Alegreya Sans SC';
  font-size: 13px;
  text-align: left;
}

.flyto-button {
  color: #fff !important;
  border: 4px solid #FFF text-transform: uppercase;
  text-decoration: none;
  background: #C9082A;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: inline-block;
  font-weight: 600;
  font-size: 1rem;
  Width: 100%;
  transition: all 0.4s ease 0s;
  font-family: 'Alegreya Sans SC'
}

.flyto-button:hover {
  background: #000000;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

#information {
  padding: 15px;
  min-height: 150px;
}

#westernCheckbox {
  color: #C9082A !important;
  text-transform: uppercase;
  background: #ffffff;
  padding: 26px;
  border: 4px solid #C9082A !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  margin-right: 10px;
  font-weight: 600;
  font-size: 1rem;
  text-align: right;
  background-image: url('http://oit2.sps.nyu.edu/~tj986/Markericon/Western%20Conference.gif');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  margin-bottom: 10px;
  width: 300px;
}

#westernCheckbox:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #fff !important;
  transition: all 0.3s ease 0s;
}

#easternCheckbox {
  color: #17408B !important;
  text-transform: uppercase;
  background: #ffffff;
  margin-bottom: 10px;
  padding: 26px;
  border: 4px solid #17408B !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  font-weight: 600;
  font-size: 1rem;
  text-align: right;
  background-image: url('http://oit2.sps.nyu.edu/~tj986/Markericon/Eastern%20Conference.gif');
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 300px;
}

#easternCheckbox:hover {
  color: #494949 !important;
  border-radius: 50px;
  border-color: #fff !important;
  transition: all 0.3s ease 0s;
}

#nbalogo {
  width: 100px
}

#logo {
  padding: 15px;
  min-height: 150px;
}

#image-zoom {
  padding: 15px;
  min-height: 150px;
}

#sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background-color: #17408B;
  color: #FFF;
  padding: 25px;
  box-sizing: border-box;
  transition: top 0.3s;
  overflow-y: auto;
}

#sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

#sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #555;
}

#filter {
  position: absolute;
  top: 40px;
  left: 170px;
  z-index: 5;
  padding: 5px;
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
  line-height: 30px;
  padding-left: 10px;
  opacity: 0.9
}

.marker {
  background-image: url('icons8-marker-100.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#marker-1 {
  background-image: url('icons8-marker-100.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-right: 18px;
  margin-top: 10px;
	margin-bottom: 20px
}

#marker-2 {
  background-image: url('iconfinder_Social_Media_Socialmedia_network_share_socialnetwork_network-14_227040.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-right: 18px;
  margin-top: 10px;
	margin-bottom: 20px
}

#marker-3 {
  background-image: url('icons8-sport-arena-64.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-right: 18px;
  margin-top: 10px;
	margin-bottom: 20px
}

#marker-4 {
  background-image: url('icons8-place-marker-64.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 50px;
  width: 50px;
  margin-right: 18px;
  margin-top: 10px;
	margin-bottom: 20px
}
