html {
  font-family: 'verdana', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}
#map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 350px;
}
.mapboxgl-marker:hover {
  cursor: pointer;
}
h3 {
  margin-top: 0;
  font-size: 1.5rem;
  text-align: center;
}
h4{
  text-align: center;
  font-family: Georgia
}
h5{font-family: Georgia;
font-size: 20px}
.flyto-button {
  background: #4682b4;
  color: #FFF;
  padding: 11px;
  border: none;
  font-weight: 600;
  font-size: 1rem;
  width: 100%;
  margin-bottom:15px;
  color: #FFF;
}
#information {
  background: #B0C4DE;
  padding: 15px;
  min-height: 150px;
}

#logo{
  padding: 15px;
  min-height: 150px;}

#image-zoom{
    padding: 15px;
    min-height: 150px;}

#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 350px;
  background-color: #4682b4;
  color: #FFF;
  padding: 25px;
  box-sizing: border-box;
}
#fill-color{
  background-color: #4682b4
}

.filter-group {
font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
font-weight: 600;
position: absolute;
Bottom: 40px;
right: 20px;
z-index: 1;
border-radius: 3px;
width: 120px;
color: #fff;
}

.filter-group input[type='checkbox']:first-child + label {
border-radius: 3px 3px 0 0;
}

.filter-group label:last-child {
border-radius: 0 0 3px 3px;
border: none;
}

.filter-group input[type='checkbox'] {
display: none;
}

.filter-group input[type='checkbox'] + label {
background-color: #4682b4;
display: block;
cursor: pointer;
padding: 10px;
border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.filter-group input[type='checkbox'] + label {
background-color: #4682b4;
text-transform: capitalize;
}

.filter-group input[type='checkbox'] + label:hover,
.filter-group input[type='checkbox']:checked + label {
background-color: #4682b4;
}

.filter-group input[type='checkbox']:checked + label:before {
content: '✔';
margin-right: 5px;
